<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>listar-respostas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul class="list-group" *ngFor=" let a of analise">
    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><strong>{{a.titulo_analise}}</strong></h5>
        <small>{{a.data}}</small>
      </div>

      <p class="mb-1">{{a.desc_analise}}</p>
      <strong>{{a.nome_user}}: </strong>
      <small>{{a.matricula_user}}</small>
    </li>
    <div class="card" style="width: 100vw;" *ngFor=" let amostra of a.amostras">
      <li class="list-group-item active">Amostra {{amostra.numero_amostra}}</li>
      <img class="card-img-top" src={{amostra.img_amostra}} alt="Card image cap" (click)="imgFull(amostra.img_amostra)">
      <div class="card-body">
        <h5 class="card-title">{{amostra.nome_amostra}}</h5>
        <p class="card-text">Número: {{amostra.numero_amostra}}</p>
        <p class="card-text">{{amostra.desc_amostra}}</p>
      </div>
      <!--<canvas #barCanvas></canvas>-->
      <li class="list-group-item active">Respostas</li>
      <div id="respostas" *ngFor=" let escala of amostra.escalas">
        <h3>{{escala.nome_escala}}</h3>
        <table class="table table-bordered" >
          <thead class="thead-dark">
            <tr>
              <th scope="col" colspan="3">Nome</th>
              <th scope="col">Faixa etária</th>
              <th scope="col">Consumo</th>
            </tr>
            
          </thead>
          <tbody *ngFor=" let escalaR of escala.escala_resposta">
            <tr>
              <th scope="row" colspan="3">{{escalaR.nome_aluno}}</th>
              <td>{{escalaR.faixa_etaria}}</td>            
              <td>{{escalaR.frequencia_consumo}}</td>
            </tr>
            <tr class="bg-secondary">
              <th scope="col" *ngFor=" let atributo of escala.atributos">{{atributo.nome_atributo}}</th>                        
            </tr>
            <tr>
              <td *ngFor=" let resposta of escalaR.respostas">{{resposta.valor_resposta}}</td>
            </tr>
          </tbody>         
        </table>
      </div>
      
      <br><br>

    </div>

  </ul>


  <!--<canvas #barCanvas></canvas>
  <br>
  <br>
  <canvas #pieCanvas></canvas>-->
</ion-content>