<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{usuario.nome_user}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="cont">
    <h5>Bem-vindo(a) {{usuario.nome_user}}</h5>
    <button (click)="listarAnalises()">Ver análises</button>
    <button (click)="cadastrarAnalise()">Nova análise</button>
    <button *ngIf="usuario.permissoes >= 3" (click)="listarUsuarios()">Ver usuários</button>
    <button *ngIf="usuario.permissoes >= 3" (click)="cadastrarUsuario()">Novo usuário</button>
  </div>

</ion-content>