#todo-home{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/bgHome.jpg');
    background-size: cover;
    background-position: center;
    overflow: scroll;
  }
  
  #over{      
    width: 100%;
    height: 100vh;    
    background: linear-gradient(to top, rgb(0,0,0), rgba(0,0,0,0.800), rgba(0,0,0,0.700), rgba(0,0,0,0.600)); 
    overflow: scroll;  
     
  }
  #cont{
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  #over form{
    left:50%;
    top:50%;
    margin-left:-150px; /* Metade do valor da Largura */
    margin-top:-80px; /* Metade da valor da Altura */
    position: relative;
    background-color: #f1f1f1e3;
    width: 300px;
    height: 160;
    border-radius: 6px;
    padding: 0px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #topoForm{
    position: relative ;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 45px;
    width: 100%;
    margin: 0px;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #f1c6c6;
    border-radius: 6px 6px 0px 0px;
    -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.45);
		-moz-box-shadow:    0px 1px 7px rgba(0, 0, 0, 0.45);
		box-shadow:         0px 1px 7px rgba(0, 0, 0, 0.45);
  }
  #topoForm h2{
    position: absolute;
    left: 20px;
    line-height: 45px;
    padding: auto;   
    margin: 0px;
    height: 100%;
    width: auto;    
    color: #303030;
  }
  #btnHome{
    background-color: #F1C6C6;
    border-radius: 6px;
    width: 50px;
    height: 100%;
    color: #303030;
    position: absolute;
    top: 0px;
    font-size: 27px;
    right: 0px;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
  }
  #btnHome:focus{
    background-color: rgba(255, 255, 255, 0.658);
  }
  #subBtn{
      border: solid 1px  rgb(87, 86, 86);
      background-color: #47D5C9;
      border-radius: 3px;
      width: 120px;
      height: 30px;
      color: #303030;
      outline: thin dotted;
      outline: 0px auto -webkit-focus-ring-color;
      outline-offset: 0px;
  }
  #over form button:disabled{
    opacity: 0.6;
    }
  #over form input{
    border: solid rgb(87, 86, 86) 1px;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 200px;
    height: 30px;
    background-color: transparent;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important; 
}
#over form input:focus{
  
  border: none;
  outline-offset: 0px;
  border: solid 2px #6DBBAA;
}
#over form small{
    color: red;
    width: 90%;
    margin-bottom: 5px;  
    text-align: center;
}
  ion-button{
      color: white;
      float: left;
      background: linear-gradient(to top, rgb(0,0,0), rgba(0,0,0,0.800), rgba(0,0,0,0.700), rgba(0,0,0,0.600));
  }

.inp-senha {
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  border: solid 1px black;
  border-radius: 3px;
}
.inp-senha:focus-within{
  border: solid 2px #6DBBAA;  
}
.inp-senha input{
  width: 170px !important;
  border: none !important;

  
}
.inp-senha input:focus{
  border-color: #6DBBAA;
}
.inp-senha button{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-left: none;
  padding: 5px;
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0px !important; 
}
.inp-senha button ion-icon{
  font-size: 20px;
  color:rgb(87, 86, 86);
}