<ion-content>

  <div id="todo-home">
    <div id="over">
      <div id="cont">
        <form [formGroup]="fGroup" (ngSubmit)="login()">
          <div id="topoForm">
            <button type="button" id="btnHome">
              <ion-icon name="home-outline" (click)="back()"></ion-icon>
            </button>
            <h2>Login</h2>
          </div>
          <input type="text" formControlName="matricula" placeholder="Login">

          <div class="inp-senha">
            <input  type={{tipoCampoSenha}} formControlName="senha" placeholder="Senha">
            <button (click)="verSenha()" id="btn-sen" type="button"><ion-icon name="{{tipoCampoSenha === 'password'? 'eye-off' : 'eye'}}"></ion-icon></button>
          </div>

          <small *ngIf="fGroup.invalid && validar">*Preencha todos os campos</small>
          <small>{{error.message}}</small>
          <button id="subBtn" [disabled]="fGroup.invalid" type="submit">Entrar</button>

        </form>
      </div>
    </div>
  </div>
</ion-content>