<ion-content>

  <div id="todo-home">
    <div id="over">
      <div id="cont">
        <button type="button">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
        </button>
        <form [formGroup]="fGroup" (ngSubmit)="login()">

          <input type="text" formControlName="matricula" placeholder="Matrícula">

          <input type="password" formControlName="senha" placeholder="Senha">

          <span *ngIf="fGroup.invalid && validar">*Preencha todos os campos</span>

          <button [disabled]="fGroup.invalid" type="submit">Entrar</button>
          <span>{{error.message}}</span>
        </form>
      </div>
    </div>
  </div>
</ion-content>