<ion-content>
  <div id="todo-home">
    <div id="over">
      <!--<form [formGroup]="fGroup" (ngSubmit)="teste()">
        <input type="file" formControlName="file">
        <button type="submit">adasd</button>
      </form>-->
      <img src="/assets/logo.png">
      <button (click)="goToLogin()" class="bg-azulE">Sou um pesquisador</button>
      <button (click)="goToAnalise()" class="bg-roxo">Quero participar de uma análise sensorial</button>
      <button (click)="goToNovoUsuario()" class="bg-laranja">Quero me tornar um pesquisador</button>
    </div>
  </div>

</ion-content>