#todo-home{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/assets/bgHome.jpg');
  background-size: cover;
  background-position: center;
  overflow: scroll;
}

#over{    
  position: absolute;
  width: 100%;
  height: 100%;    
  background: linear-gradient(to top, rgb(0,0,0), rgba(0,0,0,0.800), rgba(0,0,0,0.700), rgba(0,0,0,0.600));  
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;  
  overflow: scroll;
  padding-bottom: 100px;
}
#over img{
  width: 150px;
  height: 150px;
  margin-top: 130px;
  margin-bottom: 100px;
}
#over button{
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
  width: 300px;    
  
  font-size: 17px;
  color: #303030;
  background-color: #47D5C9;
  border-radius: 5px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#over button:focus{
  background-color: #66d1c8e0;
}
@media only screen and (min-width: 700px) {
  #over img{
    margin-top: 200px;
    margin-bottom: 160px;
  }
  #over button{  
    padding-bottom: 25px;
    width: 430px;    
    font-size: 20px;
    color: white;
    background-color: #47D5C9;
    border-radius: 5px;
    margin-top: 25px;
    display: block;
  }
}